* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url("Images/background.jpg");
}

.container {
    padding: 10%;
}

.login-container {
    display: flex;
    justify-content: space-between;
}

.login-container h1 {
    font-weight: 600;
    opacity: 0.8;
}

.login {
    height: 750px;
    background-color: white;
    padding: 2.5% 5%;
    flex-basis: 46%;
    border-radius: 20px;
}

.form-container {
    margin-top: 35px; 
    font-size: 25px;
    color: #303030;
}

input, button {
    border-radius: 6px;
    border: 1px #c7c7c7 solid;
}


input[type="password"], input[type="email"] {
    margin: 10px 0;
    width: 100%;   
    height: 40px;
    padding: 15px;
    font-size: 20px;
}

input[type="checkbox"] {
    margin-left: 40px;
    width: 22px;
    height: 22px;
    position: relative;
    top: 3px;
}

.form-container button {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right,#1d1a36, #456497);
    color: rgb(217, 217, 217);
    font-size: 18px;
    cursor: pointer;
    transition: 1s;
}

.form-container button:hover {
    background-image: linear-gradient(to left, #1d1a36, #456497);
}

hr {
    margin: 40px 0;
}

.form-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-container ul li {
    display: inline-block;
    margin: 20px 20px;
}

.form-container a span {
    font-weight: 600;
    text-decoration: underline;
}

[class^="error-text"] {
    font-size: 20px;
    color: #b00000;
}

.inactive {
    display: none;
}


@media only screen and (max-width: 1200px) {
    
    .container {
        padding: 10% 20%;
    }
    
    .login-container {
        flex-direction: column;
    }

    .login {
        margin: 100px 0;
    }

}

@media only screen and (max-width: 700px) {
    .container {
        padding: 10% 10%;
    }
    
    .login-container {
        flex-direction: column;
    }

    .login {
        margin: 100px 0;
    }
}